.card {
  opacity: 0;
  transform: translateX(-20%);
  transition: opacity 0.5s ease, transform 1s ease;
  width: 280px;
  height: 230px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media (max-width: 768px) { 
  .card {
    width: 280px;
    height: 180px;
  }
   }

.card.visible {
  opacity: 1;
  transform: translateX(0);
}
